* {
  background: rgba(0,0,0,0.05);
}
section {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
section:last-child {
  margin-right: 0%;
}
section aside {
  position: fixed;
  top: 0;
  right: 0;
}
